:root {
  --clr-purple-600: hsl(246, 80%, 60%);

  --clr-orange-300: hsl(15, 100%, 70%);
  --clr-blue-300: hsl(195, 74%, 62%);
  --clr-pink-400: hsl(348, 100%, 68%);
  --clr-green-400: hsl(145, 58%, 55%);
  --clr-purple-700: hsl(264, 64%, 52%);
  --clr-yellow-300: hsl(43, 84%, 65%);

  --clr-navy-950: hsl(226, 43%, 10%);
  --clr-navy-900: hsl(235, 46%, 20%);
  --clr-purple-500: hsl(235, 45%, 61%);
  --clr-navy-200: hsl(236, 100%, 87%);
  --clr-white: hsl(0, 0%, 100%);

  --clr-grey-200: hsl(236, 100%, 87%);
  --ff-family: "Rubik", sans-serif;

  --fw-thin: 100;
  --fw-extralight: 200;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-family);
  font-optical-sizing: auto;
  font-size: 1.8rem;

  background-color: var(--clr-navy-950);
  color: var(--clr-white);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.report__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
}

.report__wrapper {
  padding: 24px;
}

.report__header {
  max-width: 327px;
  width: 100%;
  background-color: var(--clr-navy-900);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 24px;
}

.profile-info {
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
  align-items: center;
  background-color: var(--clr-purple-600);
  padding: 32px;
  border-radius: 15px;
}

.profile-text-report {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--clr-navy-200);
}

.profile-text-name {
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--clr-white);
  white-space: nowrap;
}

.report__header--nav {
  padding-left: 24px;
  padding-right: 24px;
}

.report__header--nav ul {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.report__header--nav button {
  background-color: transparent;
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--clr-purple-500);
  border: none;
  outline: none;
}

.profile-image {
  width: 64px;
  height: 64px;
  background-color: var(--clr-grey-200);
  border: 1px solid var(--clr-white);
  border-radius: 50%;
}

.report__body {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 327px;
  width: 100%;
}

.card-wrapper {
  padding-top: 50px;
  background-color: var(--clr-grey-200);
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: 90% -10px;
}

.card-wrapper.card--work {
  background-color: #ff8b64;
  background-image: url("./images/icon-work.svg");
}

.card-wrapper.card--play {
  background-color: #55c2e6;
  background-image: url("./images/icon-play.svg");
}

.card-wrapper.card--study {
  background-color: #ff5e7d;
  background-image: url("./images/icon-study.svg");
}

.card-wrapper.card--exercise {
  background-color: #4bcf82;
  background-image: url("./images/icon-exercise.svg");
}

.card-wrapper.card--social {
  background-color: #7335d2;
  background-image: url("./images/icon-social.svg");
}

.card-wrapper.card--self-care {
  background-color: #f1c75b;
  background-image: url("./images/icon-self-care.svg");
}

.card {
  position: relative;
  background-color: var(--clr-navy-900);
  padding: 24px;
  border-radius: 15px;
}

.card__heading,
.card--work__time {
  color: var(--clr-white);
}

.card__heading {
  font-size: 1.8rem;
  font-weight: var(--fw-medium);
  margin-bottom: 8px;
}

.card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card--work__time {
  font-size: 3.2rem;
  font-weight: var(--fw-light);
}

.card__heading {
  position: relative;
}

.card__heading::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("./images/icon-ellipsis.svg");
  background-repeat: no-repeat;
  background-position: 100% center;
}

.card--work__previous {
  font-size: 1.5rem;
  color: var(--clr-navy-200);
  font-weight: var(--fw-normal);
}

.color-white {
  color: var(--clr-white) !important;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 1440px) {
}
