:root {
  --clr-purple-600: hsl(246, 80%, 60%);

  --clr-orange-300: hsl(15, 100%, 70%);
  --clr-blue-300: hsl(195, 74%, 62%);
  --clr-pink-400: hsl(348, 100%, 68%);
  --clr-green-400: hsl(145, 58%, 55%);
  --clr-purple-700: hsl(264, 64%, 52%);
  --clr-yellow-300: hsl(43, 84%, 65%);

  --clr-navy-950: hsl(226, 43%, 10%);
  --clr-navy-900: hsl(235, 46%, 20%);
  --clr-purple-500: hsl(235, 45%, 61%);
  --clr-navy-200: hsl(236, 100%, 87%);
  --clr-white: hsl(0, 0%, 100%);

  --clr-grey-200: hsl(236, 100%, 87%);
  --ff-family: "Rubik", sans-serif;

  --fw-thin: 100;
  --fw-extralight: 200;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: var(--ff-family);
  font-optical-sizing: auto;
  font-size: 1.8rem;

  background-color: var(--clr-navy-950);
  color: var(--clr-white);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.report__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  padding: 24px;
}

.report__header {
  grid-area: header;
  max-width: 327px;
  width: 100%;
  background-color: var(--clr-navy-900);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 24px;
}

.profile-info {
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
  align-items: center;
  background-color: var(--clr-purple-600);
  padding: 32px;
  border-radius: 15px;
}

.profile-text-report {
  font-size: 1.5rem;
  font-weight: var(--fw-normal);
  color: var(--clr-navy-200);
}

.profile-text-name {
  font-size: 2.4rem;
  font-weight: var(--fw-light);
  color: var(--clr-white);
  white-space: nowrap;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 170px;
}

.report__header--nav {
  padding-left: 24px;
  padding-right: 24px;
}

.report__header--nav ul {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.report__header--nav button {
  background-color: transparent;
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--clr-purple-500);
  border: none;
  outline: none;
}

.profile-image {
  width: 64px;
  height: 64px;
  background-color: var(--clr-grey-200);
  border: 1px solid var(--clr-white);
  border-radius: 50%;
}

.report__body {
  grid-area: body;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 327px;
  width: 100%;
}

.card-wrapper {
  padding-top: 33px;
  background-color: var(--clr-grey-200);
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: 90% -5px;
  background-size: 57px 57px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-wrapper.card--work {
  grid-area: work;
  background-color: #ff8b64;
  background-image: url("./images/icon-work.svg");
}

.card-wrapper.card--play {
  grid-area: play;
  background-color: #55c2e6;
  background-image: url("./images/icon-play.svg");
}

.card-wrapper.card--study {
  grid-area: study;
  background-color: #ff5e7d;
  background-image: url("./images/icon-study.svg");
}

.card-wrapper.card--exercise {
  grid-area: exercise;
  background-color: #4bcf82;
  background-image: url("./images/icon-exercise.svg");
}

.card-wrapper.card--social {
  grid-area: social;
  background-color: #7335d2;
  background-image: url("./images/icon-social.svg");
}

.card-wrapper.card--self-care {
  grid-area: self-care;
  background-color: #f1c75b;
  background-image: url("./images/icon-self-care.svg");
}

.card {
  position: relative;
  background-color: var(--clr-navy-900);
  padding: 24px;
  border-radius: 15px;
}

.card__heading,
.card--work__time {
  color: var(--clr-white);
}

.card__heading {
  font-size: 1.8rem;
  font-weight: var(--fw-medium);
  margin-bottom: 8px;
}

.card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card__time {
  font-size: 3.2rem;
  font-weight: var(--fw-light);
}

.card__heading {
  position: relative;
}

.card__heading::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("./images/icon-ellipsis.svg");
  background-position: 100% center;
  background-repeat: no-repeat;
}

.card__previous {
  font-size: 1.5rem;
  color: var(--clr-navy-200);
  font-weight: var(--fw-normal);
}

.color-white {
  color: var(--clr-white) !important;
}

.hidden {
  display: none !important;
}

.spinner-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 10;
  background: rgba(255, 255, 255, 0.15);
}

/* Spinner styles */
.spinner {
  border: 8px solid #f3f3f3; /* Light grey border */
  border-top: 8px solid #3498db; /* Blue color for the spinning part */
  border-radius: 50%; /* Make it circular */
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Animation to spin it */
}

/* Spinner animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 720px) {
  .report__header,
  .report__body {
    max-width: 677px;
  }

  .report__header--nav ul {
    justify-content: space-evenly;
  }

  .report__body {
    display: grid;
    grid-template-areas:
      "work play study"
      "exercise social self-care";
    grid-template-columns: repeat(3, 210px);
  }

  .profile-text-name {
    width: 400px;
  }

  .card__content {
    flex-direction: column;
    align-items: flex-start;
  }

  .card__time {
    font-size: 5.6rem;
  }
}

@media screen and (min-width: 1440px) {
  .report__header,
  .report__body {
    max-width: auto;
  }

  .report__body {
    display: grid;
    grid-template-columns: repeat(3, 255px);
    grid-template-rows: repeat(2, 244px);
    grid-row-gap: 32px;
  }

  .report__wrapper {
    display: grid;
    grid-template-areas: "header body";
    grid-template-columns: 255px 1fr;
  }

  .report__header--nav ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .profile-image {
    width: 78px;
    height: 78px;
  }

  .profile-text-name {
    white-space: normal;
    font-size: 4rem;
    overflow: none;
    width: auto;
  }

  .profile-info {
    height: 354px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
  }

  .report__wrapper {
    margin: auto;
    width: 1116px;
  }
}
